In [1]:
import pandas as pd
from datetime import datetime

In [2]:
cat = pd.read_csv('/Users/b00merz/Desktop/WhatDoYouKnow/grockit_all_data/category_labels.csv')
training = pd.read_csv('/Users/b00merz/Desktop/WhatDoYouKnow/grockit_all_data/training.csv')

In [4]:
# cat.head(10)
# training.head(10)

In [21]:
# cat.info()
# training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82926 entries, 0 to 82925
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           82926 non-null  int64
 1   question_id       82926 non-null  int64
 2   question_type     82926 non-null  object
 3   group_name        82926 non-null  object
 4   track_name        82926 non-null  object
 5   subtrack_name     82926 non-null  object
 6   tag_string        82926 non-null  object
 7   round_started_at  82926 non-null  object
 8   game_type         82921 non-null  object
 9   num_players       82926 non-null  int64
 10  date_of_test      14321 non-null  object
 11  question_set_id   82926 non-null  object
dtypes: int64(3), object(9)
memory usage: 7.6+ MB

In [3]:
training = training.drop("date_of_test", axis = 'columns')

In [4]:
# change 0000-00-00 00:00:00 value to 1900-01-01 01:01:01
training = training.replace(['0000-00-00 00:00:00'],'1900-01-01 01:01:01')

In [5]:
# fill na with a specific val 
training['answered_at'] = training['answered_at'].fillna('1900-01-01 01:01:01')

In [6]:
training['deactivated_at'] = training['deactivated_at'].fillna('1900-01-01 01:01:01')

In [7]:

# change column to datetime
training['round_started_at'] = pd.to_datetime( training['round_started_at'],format='%Y%m%d %H:%M:%S')

In [8]:
# change column to datetime
training['deactivated_at'] = pd.to_datetime( training['deactivated_at'],format='%Y%m%d %H:%M:%S')

In [9]:
# change col to datetime
training['answered_at'] = pd.to_datetime( training['answered_at'],format='%Y%m%d %H:%M:%S')

In [10]:
training['question_set_id'].nunique()

3969

In [12]:
training['round_started_date'] = pd.to_datetime(training['round_started_at']).dt.date
training['round_started_time'] = pd.to_datetime(training['round_started_at']).dt.time

In [14]:
training['answered_date'] = pd.to_datetime(training['round_started_at']).dt.date
training['answered_time'] = pd.to_datetime(training['round_started_at']).dt.time

In [15]:
training['deactivated_date'] = pd.to_datetime(training['round_started_at']).dt.date
training['deactivated_time'] = pd.to_datetime(training['round_started_at']).dt.time

In [19]:
training = training.drop('round_started_at', axis='columns')

In [21]:
training = training.drop('answered_at', axis='columns')

In [22]:
training = training.drop('deactivated_at', axis='columns')

In [23]:
training.head(5)

,correct,outcome,user_id,question_id,question_type,group_name,track_name,subtrack_name,tag_string,answer_id,game_type,num_players,question_set_id,round_started_date,round_started_time,answered_date,answered_time,deactivated_date,deactivated_time
0,0,2,85818,5560,0,1,5,14,222 233 240 246,6540,7,1,1567,2010-08-18,20:17:13,2010-08-18,20:17:13,2010-08-18,20:17:13
1,1,1,85818,4681,0,1,5,0,24 49,4742,7,1,1227,2010-08-18,20:19:12,2010-08-18,20:19:12,2010-08-18,20:19:12
2,1,1,85818,1529,0,1,5,0,31 49,4309,7,1,1148,2010-08-18,20:20:42,2010-08-18,20:20:42,2010-08-18,20:20:42
3,1,1,85818,2908,0,1,5,0,31 49,4408,7,1,1168,2010-08-18,20:22:03,2010-08-18,20:22:03,2010-08-18,20:22:03
4,1,1,85818,1773,0,1,5,11,183 194 207,10822,7,1,2318,2010-08-18,20:23:11,2010-08-18,20:23:11,2010-08-18,20:23:11

In [13]:
first_col = cat.pop('id')
cat.insert(0, 'id', first_col)

In [91]:
# cat.drop(labels=0, axis=0)

In [88]:
cat['id'] = cat['id'].convert_dtypes(int)

In [93]:
cat.to_csv('transformed_cat.csv', sep=';', encoding='utf-8', index=False)

In [24]:
training.to_csv('transformed_training.csv', sep=';', encoding='utf-8', index=False)